@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --color-primary: var(--color-blue-500);
}

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background-size: 300% 300%;
  animation: gradient-move 6s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}