@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@theme {
  --color-primary: var(--color-blue-500);
}

:root {
  --background-from-color: var(--color-blue-50);
  --background-to-color: var(--color-blue-100);
}

.dark {
  --background-from-color: var(--color-gray-900);
  --background-to-color: var(--color-gray-950);
}

html {
  scroll-behavior: smooth;
}

.w-30 {
  width: calc(var(--spacing) * 30);
}

.bottom-rem {
  bottom: 1rem;
}

.gradient-text {
  background-size: 300% 300%;
  animation: gradient-move 6s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}